@import "./imports";

*,
body .p-component {
    font-family: "SF Pro Display", sans-serif;
}

html,
body {
    height: 100%;
}

.p-card {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
