@mixin glass($transparency) {
	background-color: rgba(30, 30, 30, $transparency);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.glass {
	@include glass(0.7);
}

.container {
	position: relative;
	margin-top: -20vh;
	padding-top: 16rem;
	min-height: 100vh;
	text-align: center;
	z-index: -1;

	.background {
		$blur-radius: 10px;

		position: absolute;
		top: -$blur-radius*2;
		left: -$blur-radius*2;
		right: -$blur-radius*2;
		bottom: -$blur-radius*2;
		z-index: -2;
		background-image: url('/assets/background.png');
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur($blur-radius);
		overflow: hidden;
		margin: $blur-radius * 2;
	}
}

.slogan {
	text-align: center;
	font-size: 20px;
}

.card {
	.p-card {
		@include glass(0.7);
	}

	display: inline-block;
	max-width: 100%;
	
	.card-body {
		padding: 0 50px;
	}
}

.features {
	list-style-type: none;
	padding: 0;
	margin-bottom: 20rem;

	li {
		margin: 4rem;
	}
}

.feature {
	width: 100%;
}

.feature-content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	.text {
		max-width: 30%;
	}
}

.bot-avatar {
	filter: drop-shadow(5px 5px 10px black);
}

@media screen and (min-width: 900px) {
	.slogan {
		max-width: 50vw;
	}

	.bot-avatar {
		height: 10rem;
	}
}

@media screen and (max-width: 900px) {
	.card {
		margin: 0.75vw;
	}
	
	.bot-avatar {
		width: 70vw;
	}
}
