<div class="container">
	<div class="background"></div>
	<p-card class="card" styleClass="glass">
		<div class="card-body">
			<img class="bot-avatar" src="assets/nodebot-title.png" alt="Bot's avatar">
			<p class="slogan" i18n="@@slogan">
				Most minimalistic, powerful, customizable and scalable AI
				moderator and companion for admins with open source code
			</p>
			<p-button class="add-bot" (onClick)="redirect('/invite')" icon="pi pi-discord"
				label="Add the bot" i18n-label="@@add-bot" styleClass="mb-2 mr-2" />
			<p-button routerLink="/guilds" icon="pi pi-server" label="Servers" i18n-label="@@servers"
				*ngIf="loggedIn; else unauthorized" styleClass="mb-2" />
			<ng-template #unauthorized>
				<p-button (onClick)="redirect('/auth')" icon="pi pi-sign-in" i18n-label="@@login"
					label="Log in" styleClass="mb-2" />
			</ng-template>
		</div>
	</p-card>
</div>

<ul class="features">
	<li>
		<p-card class="card feature">
			<div class="feature-content">
				<img src="assets/home-1.png" class="image" height="300" />
				<div class="text">
					<h2>Кирдык</h2>
					<p>
						Отак могёт.
						<br />
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eum rerum sint iure modi similique unde officiis, aut tempore porro!
					</p>
				</div>
			</div>
		</p-card>
	</li>
	
	<li>
		<p-card class="card feature">
			<div class="feature-content">
				<div class="text">
					<h2>Кирдык</h2>
					<p>
						И ещё вот так.
						<br />
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eum rerum sint iure modi similique unde officiis, aut tempore porro!
					</p>
				</div>
				<img src="assets/home-1.png" class="image" height="300" />
			</div>
		</p-card>
	</li>
</ul>
