<p-card *ngIf="guildConfig === null; else hasBot" class="without-bot">
	<img class="guild-icon" [src]="guild.iconUrl" [alt]="guild.name">
	<h2>{{ guild.name }}</h2>
	<p i18n="@@server-without-bot">
		NodeBot is not member of <b>{{ guild.name }}</b>, so you can't configure this server.
	</p>
	<p-button styleClass="p-button-raised p-button-text mr-4" i18n-label="@@return-to-servers-list"
		label="Return to servers list" routerLink="/guilds" icon="pi pi-angle-left" />
	<p-button icon="pi pi-discord" label="Add the bot" i18n-label="@@add-bot" (onClick)="redirect('/invite')" />
</p-card>

<ng-template #hasBot>
	<p-card styleClass="ml-5 mr-5">
		<div class="guild">
			<div class="head">
				<img [src]="guild.iconUrl" [alt]="guild.name" class="guild-icon" />

				<h2>{{ guild.name }}</h2>

				<span>ID: {{ guild.id }}</span>

				<p-messages [value]="[{ severity: 'warn', detail: notAdminMessage }]" *ngIf="!isBotAdmin" />
			</div>

			<p-menubar class="overlay" *ngIf="form.dirty">
				<ng-template pTemplate="end">
					<p-button styleClass="p-button-danger" icon="pi pi-times" label="Cancel"
						[style]="{ 'margin-right': '10px' }" i18n-label="@@cancel" (onClick)="resetForm()" />
					<p-button styleClass="p-button-success" icon="pi pi-check" label="Submit" i18n-label="@@submit"
						(onClick)="saveForm()" [disabled]="!form.valid" />
				</ng-template>
			</p-menubar>
		</div>
	</p-card>

	<form [formGroup]="form" *ngIf="form?.customValidateErrors | async as errors" novalidate>
		<ul class="categories unmarked mr-5 ml-5 mt-5 flex">
			<li *ngFor="let category of meta.categories" (click)="openedCategory[category.name] = true">
				<p-card styleClass="category-card">
					<div class="flex category">
						<div class="text">
							<h3>{{ category.name }}</h3>
							<p-divider />
							<p class="description" *ngIf="category.description">
								{{ category.description }}
							</p>
						</div>
					</div>
				</p-card>

				<p-sidebar position="bottom" [(visible)]="openedCategory[category.name]" [style]="{ height: '75vh' }">
					<ng-template pTemplate="header">
						<h3>{{ category.name }}</h3>
					</ng-template>
					<p class="description" *ngIf="category.description">
						{{ category.description }}
					</p>
					
					<p-divider />

					<ul class="unmarked mr-4">
						<li *ngFor="let optionName of category.options; let i = index">
							<h4>{{ meta.options[optionName].name }}</h4>

							<div class="field" [ngSwitch]="meta.options[optionName].type">
								<p-inputNumber [formControlName]="optionName" *ngSwitchCase="'number'" />
								<p-inputSwitch [formControlName]="optionName" *ngSwitchCase="'boolean'" />
								<p-dropdown [formControlName]="optionName" *ngSwitchCase="'enum-string'"
									[options]="suggestions(optionName)">
									<ng-template pTemplate="selectedItem">
										{{ meta.options[optionName]['acceptedValues' | never][form.controls[optionName].value] }}
									</ng-template>
									<ng-template let-item pTemplate="item">
										{{ meta.options[optionName]['acceptedValues' | never][item] }}
									</ng-template>
								</p-dropdown>

								<span *ngSwitchDefault>
									Unexpected type: {{ meta.options[optionName].type }}
								</span>
							</div>

							<p-divider *ngIf="i < category.options.length - 1" />
						</li>
					</ul>
				</p-sidebar>
			</li>
		</ul>
	</form>
</ng-template>