.head {
    text-align: center;
}

.overlay {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
}

.first {
    margin-right: 10px;
}

.field-name {
    margin-right: 1rem;
}

.form-input {
    float: right;
}

.without-bot {
    display: inline-block;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
}

.guild-icon {
    border-radius: 17%;
}
