.head {
    text-align: center;
}

.overlay {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: 99999999999;
}

.unmarked {
    list-style-type: none;
    padding: 0;
}

.categories {
    align-items: stretch;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: stretch;

    li {
        flex: 1;
    }

    .category {
        justify-content: center;
        text-align: center;
    }
}

.first {
    margin-right: 10px;
}

.field-name {
    margin-right: 1rem;
}

.form-input {
    float: right;
}

.without-bot {
    display: inline-block;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
}

.guild-icon {
    border-radius: 17%;
}

:host ::ng-deep {
    .p-card.category-card {
        cursor: pointer;

        &:hover {
            transition: .1s;
            transform: translateY(-6px);
        }
    }
}
