<header>
    <p-menubar [style]="{
        'background-color': 'rgba(30, 30, 30, 0.7)',
        '-webkit-backdrop-filter': 'blur(15px)',
    }">
        <ng-template pTemplate="start">
            <img src="assets/nodebot-title.png" alt="NodeBot" class="title" routerLink="/">
        </ng-template>
        <ng-template pTemplate="end">
            <nav>
                <p-button class="home" i18n="@@home" routerLink="/">Home</p-button>
                <div class="authorized" *ngIf="authorized; else unauthorized">
                    <p-button icon="pi pi-server" i18n-label="@@servers" label="Servers" routerLink="/guilds"
                        *ngIf="screenWidth > 500; else smallScreenServers" />
                    <ng-template #smallScreenServers>
                        <p-button icon="pi pi-server" styleClass="p-button-rounded" routerLink="/guilds" />
                    </ng-template>
                    <p-button icon="pi pi-user" styleClass="p-button-rounded"
                        (onClick)="accountOverlay.toggle($event)" />
                    <p-overlayPanel #accountOverlay class="user-card-overlay">
                        <p-avatar [image]="displayAvatarUrl()" shape="circle" size="large" />
                        <br />
                        <span class="username">
                            <span class="name">{{ user!.username }}</span>
                            <span class="tag p-disabled">#{{ user!.discriminator }}</span>
                        </span>
                        <br />
                        <span class="id p-disabled p-mb-2">ID: {{ user!.id }}</span>
                        <p-divider />
                        <p-button i18n="@@warnings">Warnings</p-button>
                        <p-button i18n="@@logout" styleClass="p-button-danger" (onClick)="logOut()">Log out</p-button>
                    </p-overlayPanel>
                </div>
                <ng-template #unauthorized>
                    <p-button label="Log in" i18n-label="@@login" (onClick)="redirect('/auth')" icon="pi pi-sign-in" />
                </ng-template>
                <app-locale-switcher />
            </nav>
        </ng-template>
    </p-menubar>
</header>